@model WebApp1.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="container shadow p-4">
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-fluid" src="@Model.Image" alt="@Model.FullName">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h2>@Model.UserName</h2>
                                    <p><strong>Họ tên:</strong> @Model.FullName</p>
                                    <p><strong>Ngày sinh:</strong> @Model.Birth?.ToString("dd-MM-yyyy")</p>
                                    <p><strong>Số điện thoại:</strong> @Model.Phone</p>
                                    <p><strong>Lớp hành chính:</strong> @Model.Class</p>
                                    <p><strong>Email:</strong> @Model.Email</p>
                                    <p><strong>Giới tính:</strong> @Model.Gender</p>
                                    <div class="mt-4">
                                        <a href="javascript:history.back()" class="btn btn-lg btn-warning"><i class="bi bi-box-arrow-in-left"></i> Quay lại</a> |
                                        <a asp-area="Admin" asp-controller="Accounts" asp-action="Edit"
                                           asp-route-id="@Model.AccountID" class="btn btn-primary "
                                           title="Sửa thông tin "><i class="bi bi-pencil-square"></i> Chỉnh sửa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>